{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>

  <div class="col-xs-12 col-md-8">
    {{ with $page.Params.talks }}
    {{ range .talks }}

    <div class="pub-list-item" itemscope itemprop="Talk" itemtype="http://schema.org/Event">
      <i class="fa fa-calendar pub-icon" aria-hidden="true"></i>
      <span itemprop="name">{{ .title }}</span>

      {{ range .links }}

      {{ if .link }}
      &nbsp;
        {{ if .ext }}
          <a class="btn btn-primary btn-outline" style="font-size: 10px;" href="{{ .link }}">{{ .link_label }}</a>
        {{ else }}
          <a class="btn btn-primary btn-outline" style="font-size: 10px;" href="{{ $.Site.baseurl }}/files/talks/{{ .link }}">{{ .link_label }}</a>
        {{ end }}
      {{ end }}

      {{ end }}

      <div class="talk-metadata">
        {{ .date }}&nbsp; &middot; &nbsp; {{ .place }}
      </div>
    </div>

    {{ end }}
    {{ end }}
  </div>
</div>