{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}
{{ $baseUrl := "https://alexrame.github.io/" }}

<section class="home-section">
    <div class="container">
        <p>A non-exhaustive short list of books I loved.</p>

        {{ with .Params.reading }}
        {{ range .reading }}
        <h3>{{ .year }}:</h3>
        <div class="row pub-list-item">

            <ul style="list-style: none;">
                {{ range .books }}
                <li class="{{ .quality }}">
                    {{ if eq .quality "good" }}
                    <i class="fa fa-star pub-icon" aria-hidden="true"></i>
                    {{ else }}
                    <i class="fa fa-book pub-icon" aria-hidden="true"></i>
                    {{ end }}
                    <span itemprop="name">
                        {{ .name }}
                    </span>
                    <span class="talk-metadata">
                        | {{ .author }}&nbsp; &middot; &nbsp;{{ .genre }}
                    </span>

                    {{ if .review }}
                    &nbsp;
                    <a class="btn btn-primary btn-outline" style="font-size: 10px;"
                        href="{{ $baseUrl }}/books/{{ .review }}">Review</a>
                    {{ end }}
                    {{ if .anki }}
                    <a class="btn btn-primary btn-outline" style="font-size: 10px;" href="{{ .anki }}">Anki</a>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>

        {{ end }}
        {{ end }}

    </div>
</section>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
