<div class="media stream-item" itemscope itemtype="http://schema.org/Event">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      {{ .Title }}
    </h3>

    <div class="stream-meta article-metadata">
      <div itemprop="author">
        {{ with .Params.authors }}
        {{- delimit . ", " | markdownify -}}
        {{- end -}} </div>
      {{ .Params.publication_origin }}<br>
      {{ .Params.pretty_date }}
    </div>

    <div class="ml-3">
      {{ $resource := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $resource }}
      {{ $image := .Resize "400x" }}
      <img src="{{ $image.RelPermalink }}" itemprop="image">
      {{end}}
    </div>

    {{ $summary := "" }}
    {{ if .Params.abstract_short }}
    {{ $summary = .Params.abstract_short | markdownify }}
    {{ else if .Params.abstract }}
    {{ $summary = .Params.abstract | markdownify }}
    {{ else if .Truncated }}
    {{ $summary = .Summary }}
    {{ end }}
    {{ with $summary }}
    <div class="article-style" itemprop="articleBody">
      {{ . | truncate 230 }}
    </div>
    {{ end }}

    <div class="talk-links">
      {{ partial "publication_links" (dict "content" . "is_list" 1) }}
    </div><br />
  </div>
</div>
